@import "../../styles/variables.scss";

.cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  background: var(--red);
  top: -50px;
  left: -50px;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: multiply;
  @media #{$mq1Col} {
    display: none;
  }
}
